footer {
    display: flex;
    background-color: #445E77;
    height: 360px;
    color: #fff;
    vertical-align: auto;
    
}

footer div {

    margin: 4em;

}

#contact {
    display: flexbox;
}

#logo_contact img {

   height: 40px;

}